{% extends 'home.html' %}

{% block body %}
<div class="row m-2">
    <h2>Below tasks are scheduled for today.</h2>
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Task List</th>
    
        </tr>
        </thead>
        <tbody>
        {% for task in tasklist %}
            <tr>
            <td>
                <div>
                    <a href="{% url 'edit_task' task.id %}">{{ task.title }}</a>
                </div>
    
            </td>
    
            
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>


{% endblock %}